@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');

.navbar{
    height:6vh;
    width: 100%;
    display:inline;
    justify-content: left;
    align-items: left;
    background-color: #fff;
    top:0;
    position: fixed;
}

.navbar-hidden{
    display: none;
}

.title-navbar-company{
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    font-size : 2rem;
    margin-left: 2%;
    background:none;
    color : #fff;
    width:100%;
    height:80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.company-info{
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    margin-right: 10%;
}
.company-logo{
    width: 20%;
    margin-top: 2%;
    background-color: #fff;

}
.company-name{
    width: 30%;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    padding:  1% 1% 1% 1%;
}

.menu-bars{
    display: inline-block;
    margin-left: 2rem;
    font-size:2rem;
    background: none;
    width: 100%;
}
.nav-menu{
    background-color: #333333;
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: left;
    padding: 0 0 0 2%;
    position: fixed;
    top:0;
    left:-100%;
    
}
.nav-menu.active {
    left : 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    height: 60px;

}

.nav-text a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;

}

.nav-text a:hover{
    
}

.nav-text-single{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    height: 60px;

}

.nav-text-single a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-text-single a:hover{
    background-color:#ff1b1c;
    color: #f2f2f2;
}
.separator{
    margin-left: 10%;
    list-style: none;
}
.nav-menu-items {
    width: 100%;
   
}

.navbar-toggle{
    background:none;
    color : #333;
    width:100%;
    height:80px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.spaceBar{
    border: #333333 0.5px solid;
    margin-top: 2%;
    margin-bottom: 10%;
}

span{
    margin-left: 16px;
}

.navbar-header{
    width: 100%;
    height: 10vh;
    padding: 0% 25% 0% 25%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
}

.navTag{
    background-color: #ccc;
    position: fixed;
    width: 20%;
    height: 100vh;
    right:0;
    top:10vh;
}
.navTag-hidden{
    display: none;
}
.navNotif{
    background-color: #333;
    position: fixed;
    width: 20%;
    height: 100vh;
    right:0;
    top:10vh;
}
.navNotif-hidden{
    display: none;
}
.buttonTchat{
    position:fixed;
    background-color: #db0029;
    height: 8vh;
    width: 8vh;
    z-index: 0;
    bottom:3vh;
    left: 2%;
    border-radius: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:4rem;
    color:#fff;
    
}
.buttonIcon{
    margin-top: 1vh;
}

.icon-navbar{
    width: 2rem;
}